// $phone:  "only screen and (max-width: 860px) and (orientation: portrait)";
$phone:  "only screen and (max-width: 1600px) and (orientation: portrait)";
$bronze: #CEAA78;
$blue: #133359;
$darkbronze: darken($bronze, 50%);
$lightbronze: lighten($bronze, 20%);
$font: 'Dancing Script', cursive;
$serif: 'Vesper Libre', serif;
$cursive: 'Oregano', cursive;
