$bronze: #CEAA78;
$darkbronze: darken($bronze, 50%);
$darkdarkbronze: darken($darkbronze, 10%);
@import "variables";

#prize-store button, #settings button, #trophies button {
  background-color: $bronze;
  color: $darkbronze;
  float: none;
  font-size: 5vh;
  height: 10vh;
  margin: auto;
  text-align: center;
  transition: background 1s, color 1s;
  width: 16vw;
  @media #{$phone}{
    font-size: 4vh;
    width: 18vw;
  }
}
#prize-store button:hover, #settings button:hover {
  background: $darkbronze;
  color: $lightbronze;
}
#prize-store h1, #settings h1, #trophies h1 {
  color: $bronze;
  font-family: $font;
  font-size: 8vh;
  margin-top: 2vh;
  text-align: center;
  @media #{$phone}{
    font-size: 8vw;
    margin-top: 1vh;
  }
}
.category {
  .cat-list {
    background-color: transparentize($bronze, .1);
    border-radius: 0 0 1vh 1vh;
    display: flex;
    flex-wrap: wrap;
    height: 30vh;
    list-style: none;
    margin: 0 auto 4vh auto;
    overflow-y: scroll;
    padding: 1vh 2vh;
    width: 90%;
  }
  .cat-header {
    background-color: $darkbronze;
    border-radius: 1vh 1vh 0 0;
    font-family: 'Oregano', cursive;
    font-size: 2.5vh;
    font-weight: normal;
    height: 6vh;
    letter-spacing: .1vw;
    margin: 2vh auto 0 auto;
    width: 90%;
    h2 {
      color: $lightbronze;
      display: inline;
      line-height: 6vh;
      margin: 0 1vw;
      padding: 0;
      width: 5vw;
    }
    .cat-name {
      float: 1eft;
    }
    .cat-price {
      float: right;
    }
  }
}

.prize {
  background-color: $blue;
  background-size: contain !important;
  border: 1vh solid transparentize($lightbronze, .1);
  border-radius: 10%;
  color: $bronze;
  cursor: pointer;
  font-size: 20px;
  height: 12vh;
  line-height: 10vh;
  list-style: none;
  margin: 1vh;
  position: relative;
  text-align: center;
  width: 12vh;
  @media #{$phone}{
    border-width: .4vw;
    font-size: 3vw;
    height: 15vw;
    line-height: 4vh;
    margin: .4vw;
    width: 15vw;
  }
}
.prize:hover {
  box-shadow: 1px 1px 2px $darkbronze;
}
.locked {
  opacity: .7;
}
.locked:hover, .bought:hover {
  box-shadow: none;
}
.bought, .locked {
  cursor: default;
}
.bought:before {
  background: transparentize($lightbronze, .2);
  border-radius: 50px;
  color: $blue;
  content: "OWNED";
  font-family: serif !important;
  font-size: 2.5vh;
  height: 100%;
  left: 0%;
  line-height: 11vh;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 1px $darkbronze;
  width: 100%;
  @media #{$phone}{
    font-size: 3vw;
    line-height: 8.5vh;
  }
}
.new {
  overflow: hidden;
  position: relative;
}
.new:before {
  background: linear-gradient($darkdarkbronze, $darkbronze, $bronze, $lightbronze, $bronze, $darkbronze, $darkdarkbronze);
  box-shadow: 3px 3px 5px $darkdarkbronze;
  content: "";
  height: 10vh;
  left: 10%;
  position: absolute;
  top: -25%;
  transform: rotate(45deg);
  width: 1.5vh;
  z-index: 2;
}
.new:after {
  @extend .bought:before;
  color: #A51212;
  content: "NEW!";
}
#settings {
  .selected {
    border-color: $darkbronze;
  }
  .cat-list {
    font-family: $serif;
  }
}
