#prize-store button, #settings button {
  background-color: #CEAA78;
  color: #342613;
  float: none;
  font-size: 5vh;
  height: 10vh;
  margin: auto;
  text-align: center;
  transition: background 1s, color 1s;
  width: 16vw; }
  @media only screen and (max-width: 1600px) and (orientation: portrait) {
    #prize-store button, #settings button {
      font-size: 4vh;
      width: 18vw; } }

#prize-store button:hover, #settings button:hover {
  background: #342613;
  color: #e9d9c3; }

#prize-store h1, #settings h1 {
  color: #CEAA78;
  font-family: "Dancing Script", cursive;
  font-size: 8vh;
  margin-top: 2vh;
  text-align: center; }
  @media only screen and (max-width: 1600px) and (orientation: portrait) {
    #prize-store h1, #settings h1 {
      font-size: 8vw;
      margin-top: 1vh; } }

.category .cat-list {
  background-color: rgba(206, 170, 120, 0.9);
  border-radius: 0 0 1vh 1vh;
  display: flex;
  flex-wrap: wrap;
  height: 30vh;
  list-style: none;
  margin: 0 auto 4vh auto;
  overflow-y: scroll;
  padding: 1vh 2vh;
  width: 90%; }
.category .cat-header {
  background-color: #342613;
  border-radius: 1vh 1vh 0 0;
  font-family: 'Oregano', cursive;
  font-size: 2.5vh;
  font-weight: normal;
  height: 6vh;
  letter-spacing: .1vw;
  margin: 2vh auto 0 auto;
  width: 90%; }
  .category .cat-header h2 {
    color: #e9d9c3;
    display: inline;
    line-height: 6vh;
    margin: 0 1vw;
    padding: 0;
    width: 5vw; }
  .category .cat-header .cat-name {
    float: 1eft; }
  .category .cat-header .cat-price {
    float: right; }

.prize {
  background-color: #133359;
  background-size: contain !important;
  border: 1vh solid rgba(233, 217, 195, 0.9);
  border-radius: 10%;
  color: #CEAA78;
  cursor: pointer;
  font-size: 20px;
  height: 12vh;
  line-height: 10vh;
  list-style: none;
  margin: 1vh;
  position: relative;
  text-align: center;
  width: 12vh; }
  @media only screen and (max-width: 1600px) and (orientation: portrait) {
    .prize {
      border-width: .4vw;
      font-size: 3vw;
      height: 15vw;
      line-height: 4vh;
      margin: .4vw;
      width: 15vw; } }

.prize:hover {
  box-shadow: 1px 1px 2px #342613; }

.locked {
  opacity: .7; }

.locked:hover, .bought:hover {
  box-shadow: none; }

.bought, .locked {
  cursor: default; }

.bought:before, .new:after {
  background: rgba(233, 217, 195, 0.8);
  border-radius: 50px;
  color: #133359;
  content: "OWNED";
  font-family: serif !important;
  font-size: 2.5vh;
  height: 100%;
  left: 0%;
  line-height: 11vh;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 1px #342613;
  width: 100%; }
  @media only screen and (max-width: 1600px) and (orientation: portrait) {
    .bought:before, .new:after {
      font-size: 3vw;
      line-height: 8.5vh; } }

.new {
  overflow: hidden;
  position: relative; }

.new:before {
  background: linear-gradient(#0f0b05, #342613, #CEAA78, #e9d9c3, #CEAA78, #342613, #0f0b05);
  box-shadow: 3px 3px 5px #0f0b05;
  content: "";
  height: 10vh;
  left: 10%;
  position: absolute;
  top: -25%;
  transform: rotate(45deg);
  width: 1.5vh;
  z-index: 2; }

.new:after {
  color: #A51212;
  content: "NEW!"; }

#settings .selected {
  border-color: #342613; }
#settings .cat-list {
  font-family: "Vesper Libre", serif; }

/*# sourceMappingURL=prizes.css.map */
