#projects {
  background: rgba(206, 170, 120, 0.2);
  color: #CEAA78;
  height: 92vh;
  text-align: center;
  width: 100vw; }
  @media only screen and (max-width: 1600px) and (orientation: portrait) {
    #projects {
      margin: 0; } }
  #projects h1 {
    color: #133359;
    font-family: "Dancing Script", cursive;
    font-size: 8vh;
    line-height: 12vh; }
    @media only screen and (max-width: 1600px) and (orientation: portrait) {
      #projects h1 {
        font-size: 8vw;
        line-height: normal;
        margin: 1vh auto; } }
  #projects h2 {
    font-family: "Oregano", cursive;
    font-size: 6vh;
    font-weight: normal;
    margin: 0; }
    @media only screen and (max-width: 1600px) and (orientation: portrait) {
      #projects h2 {
        font-size: 4vw; } }
  #projects h3 {
    font-family: "Vesper Libre", serif;
    font-size: 3vh;
    margin: 0; }
    @media only screen and (max-width: 1600px) and (orientation: portrait) {
      #projects h3 {
        font-size: 4vw; } }
  #projects #project-index {
    background: #CEAA78;
    border-radius: .5%;
    display: flex;
    flex-wrap: wrap;
    font-family: "Dancing Script", cursive;
    margin: auto;
    min-height: 60vh;
    overflow-y: scroll;
    padding: 1%;
    width: 95%; }
    @media only screen and (max-width: 1600px) and (orientation: portrait) {
      #projects #project-index {
        max-height: 60vh;
        min-height: 0vh;
        overflow-y: scroll; } }
    #projects #project-index .project-item {
      background: #133359;
      border-radius: 3%;
      color: #CEAA78;
      flex-basis: 22%;
      height: 20vh;
      margin: .5vh .5vw;
      padding: 1%;
      transition: background 1s, color 1.5s; }
      #projects #project-index .project-item li {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
      #projects #project-index .project-item:hover {
        background: #342613;
        color: #e9d9c3; }
      @media only screen and (max-width: 1600px) and (orientation: portrait) {
        #projects #project-index .project-item {
          flex-basis: 32%;
          height: 10vh;
          margin: .25vh .25vw; } }
  #projects button {
    background-color: #133359;
    color: #CEAA78;
    float: none;
    font-size: 5vh;
    height: 10vh;
    margin: auto;
    text-align: center;
    width: 16vw; }
  #projects button:hover {
    background: #342613;
    color: #e9d9c3; }

#detail {
  background-color: rgba(206, 170, 120, 0.2);
  height: 89vh;
  padding-bottom: 1vh; }
  #detail h1 {
    color: transparent;
    text-align: center; }
    @media only screen and (max-width: 1600px) and (orientation: portrait) {
      #detail h1 {
        display: none; } }
  #detail h2 {
    color: #e9d9c3;
    background: rgba(52, 38, 19, 0.5);
    font-family: "Oregano", cursive;
    font-weight: normal;
    padding: .5vh .25vh; }
    @media only screen and (max-width: 1600px) and (orientation: portrait) {
      #detail h2 {
        display: none; } }
  #detail #holder {
    background-color: #133359;
    border-radius: 2%;
    box-shadow: 4px 6px 2px black, -4px 0px 2px black;
    display: flex;
    height: 88%;
    margin: 2% auto 0 auto;
    padding: 4%;
    width: 88%; }
    @media only screen and (max-width: 1600px) and (orientation: portrait) {
      #detail #holder {
        height: 90%;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-top: 4vh;
        box-shadow: .3vh .5vh 3vh black, -.3vh 0vh 3vh black; } }
    #detail #holder textarea {
      background-color: #CEAA78;
      box-shadow: inset 3px 3px 2px black;
      display: block;
      font-size: 3vh;
      height: 100%;
      overflow-y: scroll;
      padding: 2%;
      width: 80%; }
      @media only screen and (max-width: 1600px) and (orientation: portrait) {
        #detail #holder textarea {
          font-size: 5vw;
          height: 80%;
          margin: 0 auto;
          width: 100%; } }
    #detail #holder #buttons {
      background-color: #CEAA78;
      box-shadow: inset 3px 3px 2px black;
      color: inherit;
      display: flex;
      flex-direction: column;
      height: 100%;
      margin-left: 4%;
      width: 16%; }
      @media only screen and (max-width: 1600px) and (orientation: portrait) {
        #detail #holder #buttons {
          flex-direction: row;
          float: none;
          height: 12%;
          margin: 3vh auto 0 auto;
          width: 100%; } }
      #detail #holder #buttons button {
        background-color: rgba(52, 38, 19, 0.5);
        border-radius: 0;
        box-shadow: inset 3px 0px 2px black;
        color: #e9d9c3;
        float: none;
        font-size: 5vh;
        height: 12%;
        overflow: hidden;
        margin-top: 1vh;
        width: 100%;
        text-align: center;
        transition: background 1s; }
        @media only screen and (max-width: 1600px) and (orientation: portrait) {
          #detail #holder #buttons button {
            border: 0.2vw solid #342613;
            box-shadow: none;
            flex-basis: 30%;
            font-size: 10vw;
            height: 100%;
            margin: 0; } }
      #detail #holder #buttons button:hover {
        background: rgba(52, 38, 19, 0.8); }
      #detail #holder #buttons section {
        font-size: 8vh;
        margin: 25% auto 20vh auto;
        overflow-y: hidden;
        text-align: center; }
        @media only screen and (max-width: 1600px) and (orientation: portrait) {
          #detail #holder #buttons section {
            flex-basis: 40%;
            font-size: 12vw;
            height: 100%;
            line-height: 125%;
            margin: 0; } }

/*# sourceMappingURL=projects.css.map */
