#welcome {
  background: #CEAA78;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center; }
  #welcome div {
    width: 90%;
    height: 90%;
    border-radius: .5%;
    background: #dcc29d;
    box-shadow: 0.15vh 0.15vh 2vh #7f5d2e, -0.5vh -0.5vh 6vh #7f5d2e;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (max-width: 1600px) and (orientation: portrait) {
      #welcome div {
        width: 94%;
        height: 97%; } }

.welcome-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Dancing Script", cursive; }
  @media only screen and (max-width: 1600px) and (orientation: portrait) {
    .welcome-buttons {
      width: 80%;
      margin: 0 auto;
      flex-direction: column;
      justify-content: space-between; } }
  .welcome-buttons section {
    flex-basis: 20%;
    margin: 0 1vw; }
  .welcome-buttons button {
    font-size: 5vh;
    width: 100%;
    margin: 0;
    float: none;
    height: 10vh;
    background-color: #133359;
    color: #e9d9c3;
    text-align: center;
    transition: background-color 2s, color 2s, box-shadow 2s; }
    .welcome-buttons button:hover {
      background-color: #CEAA78;
      color: #342613;
      box-shadow: inset 1vh 1vh 4vh #342613; }
    .welcome-buttons button:active {
      background-color: #CEAA78;
      color: #342613;
      box-shadow: inset 1vh 1vh 4vh #342613; }
    @media only screen and (max-width: 1600px) and (orientation: portrait) {
      .welcome-buttons button {
        width: 100%;
        float: none;
        margin: 0 0 1vh 0; } }

#welcome h1 {
  color: #133359;
  padding: 2vh 0;
  font-size: 10vh;
  font-family: "Dancing Script", cursive;
  text-align: center;
  flex-basis: 30%; }
  @media only screen and (max-width: 1600px) and (orientation: portrait) {
    #welcome h1 {
      font-size: 15vw;
      margin-top: 10vh; } }

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 66%;
  height: 100%;
  border: 1.5vw ridge #dcc29d;
  box-shadow: inset 1.25vh 1.25vh 4vh #342613;
  padding: 5vh;
  border-radius: 1%;
  background: #CEAA78; }
  @media only screen and (max-width: 1600px) and (orientation: portrait) {
    form {
      width: 100%; } }
  form h1 {
    margin: 2vh 0;
    color: #133359;
    font-size: 8vh;
    font-family: "Dancing Script", cursive;
    text-align: center; }
    @media only screen and (max-width: 1600px) and (orientation: portrait) {
      form h1 {
        font-size: 10vw; } }
  form input {
    margin: 0 auto;
    font-size: 5vh;
    font-family: "Oregano", cursive;
    color: #342613;
    height: 10vh;
    width: 30vw;
    padding-left: 1vw;
    padding-top: 1vh;
    border-radius: 5%;
    background: #c09253;
    box-shadow: inset 1vh 1vh 4vh #342613; }
    @media only screen and (max-width: 1600px) and (orientation: portrait) {
      form input {
        font-size: 6vw;
        width: 100%;
        height: 12%;
        padding-left: 2vw; } }
  form input:hover, form input:active {
    border: 0.5vh solid #133359; }
  form .welcome-buttons {
    margin-top: 2vh; }
    form .welcome-buttons button {
      flex-basis: 25%;
      margin: 0 1vw;
      height: 10vh; }
      form .welcome-buttons button:hover {
        background: #c09253; }
    @media only screen and (max-width: 1600px) and (orientation: portrait) {
      form .welcome-buttons {
        flex-direction: column;
        justify-content: space-between; }
        form .welcome-buttons button {
          width: 100%;
          margin: 1vh 0; } }
  form ::-webkit-input-placeholder {
    color: #e9d9c3;
    font-family: "Oregano", cursive; }
  form ::-moz-placeholder {
    color: #e9d9c3;
    font-family: "Oregano", cursive; }
  form :-ms-input-placeholder {
    color: #e9d9c3;
    font-family: "Oregano", cursive; }
  form :-moz-placeholder {
    color: #e9d9c3;
    font-family: "Oregano", cursive; }

/*# sourceMappingURL=sessions.css.map */
