<!DOCTYPE html>
<html>
<head>
  <title>Writer's Block</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Tillana|Indie+Flower|Pacifico|Shadows+Into+Light|Dancing+Script|Architects+Daughter|Permanent+Marker|Kaushan+Script|Rock+Salt|Oregano|Maiden+Orange|Salsa" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Almendra|Aref+Ruqaa|Balthazar|Berkshire+Swash|Cabin+Sketch|Caesar+Dressing|Cherry+Swash|Cormorant|Courgette|Delius|Dr+Sugiyama|Engagement|Fondamento|Great+Vibes|Handlee|Iceland|Just+Another+Hand|Katibeh|Lancelot|Lily+Script+One|Marcellus|MedievalSharp|Montez|New+Rocker|Niconne|Nosifer|Quantico|Rouge+Script|Sacramento|Satisfy|Seaweed+Script|Sofia|Special+Elite|UnifrakturMaguntia|Vesper+Libre" rel="stylesheet">
  <link rel="shortcut icon" href="https://cdn3.iconfinder.com/data/icons/school-solid-icons-vol-2/96/098-512.png" type="image/x-icon" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<%= yield %>

</body>
</html>
